.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 60px 0px;
  margin-top: 60px;
}

.header-title h1{
  font-size: 2rem;
  padding-left: 20px;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.header-nav a{
  background-color: #9c9c9c;
  padding: 10px 15px;
  border-radius: 4px;
}

.header-intro::before{
  display: block;
  content: "";
  background-image: url(../img/deco.png);
  background-repeat: no-repeat;
  width: 130px;
  height: 120px;
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -1;
}

.header-intro{
  position: relative;
}

.header-intro h1{
  font-size: 4rem;
}

.header-intro h3{
  font-size: 2rem;
  font-weight: normal;
}