.main-exp-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.main-exp-title h1 {
  font-size: 6rem;
  line-height: 1.5;
  color: #9c9c9c;
}

.main-exp-list {
  display: grid;
}

.main-exp-list-intro {
  margin-bottom: 60px;
}

.main-exp-list-intro h3 {
  font-size: 1.5rem;
}

.main-exp-items h3 {
  margin-bottom: 20px;
}

.main-exp-items {
  background-color: #f0f0f0;
  width: 350px;
  padding: 10px;
  margin: 0px auto 20px;
}

.main-exp-items h3 {
  position: relative;
}

.main-exp-items h3::before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  width: 3px;
  height: 100%;
  background-image: linear-gradient(#b629f8, #800add);
}

.main-exp-list-items-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 50px;
}

#rango,
#bichos,
#passare,
#traquinas,
#legal,
#farofino,
#albergaria,
#babydog,
#raimundinho,
#domicilio {
  justify-self: end;
}
