.main-exp-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 60px;
}

.main-exp-title h1 {
  font-size: 6rem;
  line-height: 1.5;
  color: #9c9c9c;
}

.main-exp-list-intro {
  margin-bottom: 50px;
}

.main-exp-list-intro h3 {
  font-size: 1.25rem;
}

.main-exp-list-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-flow: column;
  gap: 25px 20px;
}

#juca,
#rango,
#bichos,
#passare,
#traquinas,
#legal,
#farofino,
#albergaria,
#babydog,
#raimundinho,
#domicilio {
  padding-top: 10px;
  text-align: end;
  font-weight: normal;
  font-size: 0.9rem;
  grid-column: 1;
}

.main-exp-items {
  background-color: #f0f0f0;
  padding: 10px;
  grid-column: 2;
}

.main-exp-items h3 {
  position: relative;
}

.main-exp-items h3::before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  width: 3px;
  height: 100%;
  background-image: linear-gradient(#b629f8, #800add);
}